@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Poppins:wght@400;500;600&display=swap');

.ListEvent {
    background-color: #2D1B33;
    padding: 30px;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #2D1B33;
    background-image: url('./imgs/Tela_de_Eventos.svg');
    background-position: center;
    background-size: 100%;
    margin-top: 90px;
}

.event-filter {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    color: #D4C0DB;
}

.event-filter select {
    max-width: 600px;
    height: 45px;
    font-size: 18.72px;
    border-radius: 5px;
    background-color: #D9D9D9;
    color: #5B5B5B;
}

.search-div input {
    width: 600px;
    height: 45px;
    font-size: 18.72px;
    background-color: #D9D9D9;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.event {
    display: flex;
    max-width: 600px;
    margin: 20px auto;
    background-color: #9ABC8A;
    border-radius: 10px;
    gap: 20px;
}

.img-event {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.event-details h2 {
    margin-bottom: 45px;
}

.event-details p {
    color: #5B5B5B;
    display: flex;
    flex-direction: column;
}

.search-icon {
    background-color: #F36A71;
    width: 20px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;

}

.search-div {
    display: flex;
    align-items: center;
}
.search-div a {
    display: flex;
    align-items: center;
}

.div-search-icon {
    width: 40px;
    background-color: #F36A71;
    display: flex;
    align-items: end;
    border-radius: 5px;
}