body {
  font-family: Arial;
  background-color: #2D1B33;
  padding: 30px;
  color: black;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  background-color: #9ABC8A;
  padding: 20px 30px;
  border-radius: 10px;
}